/* Master Styles */

body {
    font-family: 'Bebas Neue', cursive; /*custom google font here*/
    margin: 0px; /* we want the images to from border to border */
}

.container {
    display: grid;
    /* container to use grid, use template columns 
    using 1 fr (fractional unit) which is 100% from end to end*/
    grid-template-columns: 1fr; 
}

/* Nav Styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

/* traversing a tree in css and apply styling*/
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em; /* by default value is 1em so this is 90%*/
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    border-bottom: black !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* thats 3 full sized columns*/
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* left to right alignment*/
    align-items: center; /*top to bottom alignment*/
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600; /*This is how we use bold*/
    color: transparent;
}

/* Needs to be more specific with selector
Only happens to change to bold and below color on img-text-wrapper's hover*/
.img-text-wrapper:hover .subtitle {
    font-weight: 600; /*This is how we use bold*/
    color: lightseagreen;
}

/*Custom class for JS to add and remove this when needed*/
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About page styles */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}
